* {
    box-sizing: border-box;
}

body, html{
    font-size: 20px;
    font-family: arial;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: pink;
    width: 900px;    
    margin: 0 auto;   
}

.tengah{
    display: flex;
}

.box{
    background-color: beige;
    width: 150px;
    height: 150px;
    border: 1px solid;
}

.foto-box{
    display: flex;
    justify-content: space-around;
}
header{  
    background-color: blue;
    width: 95.5%;
    height: 100px;
}

aside{
    background-color: aqua;
    width: 20%;
    height: 400px;
}

article{
    background-color: aquamarine;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer{
    background-color: blue;
    width: 95.5%;
    height: 100px;
}

header, aside, article, footer{
    margin: 20px;
    padding: 1em;
}

p{ 
    color: blue;
}
img{
    width: 100%;
    height: 100%;
}